/* Reset základního stylu */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Celkový styl pro stránku */
body {
    font-family: Arial, sans-serif;
}

/* Horní lišta */
header {
    background-color: #d3d3d3; /* Šedá barva */
    padding: 15px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
    color: #333;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Úvodní sekce */
main {
    padding: 20px;
}

.intro {
    text-align: center;
    margin-top: 50px;
}

.product-category {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.category-box {
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    width: 150px;
    cursor: pointer;
}

.category-box img {
    width: 100%;
    height: auto;
}

.category-box p {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

.cart {
    margin-top: 50px;
    text-align: center;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
